Implement Support for /Me Endpoint

As per [RFC7644§3.11](https://datatracker.ietf.org/doc/html/rfc7644#section-3.11).