Implement Support for /Bulk Endpoint

As per [RFC7644§3.7](https://datatracker.ietf.org/doc/html/rfc7644#section-3.7).