Hi @christiaangoossens,

This seems like a reasonable addition, however I am wondering how it would work in a multi-tenant or multi-host environment, where the hostname and path of the baseUri can be variable? Could the baseUri property be a function, like the context property, that returns a string value to be used as the baseUri?

Unfortunately it seems that Express doesn't have a reliable way to determine the originally targeted baseUri. An optional function, however, could be used to set the baseUri from some external variable, or even the "Host" header from the request (although some sanity checking would be required by the developer to make sure the value is valid, as the "Host" header can be set to any value).

Thanks,
Sam

Hi @sleelin,

I agree, thought about it yesterday but didn't wanna overcomplicate it I guess. I made it an optional function that takes the request, such that you can for instance do:

```
baseUri: (req) => "https://" + req.headers.host,
```

Of course you would like some more advanced implementation, such as checking it's a subdomain of a certain domain, or checking them against a fixed list.

I made it as flexible as possible, if you can't determine the right baseUri in the function for that domain, it still allows returning undefined to indicate that you would like relative URLs and it also works with promises.

Hope this works for you!

Thanks for your work on SCIMMY,

Christiaan

Hi @christiaangoossens,
Apologies for the delay, I have now published v1.2.1 to NPM which includes this change.
I also added a sanity check to make sure the baseUri method's returned string is a valid HTTPS url.

Thanks,
Sam

Hi @sleelin,

Ah, I left that check out to make local development easier when you want to use the compliance checker on your local machine without bothering with configuring HTTPS that also works with weird hostnames like `host.docker.internal`.

Is it a strict SCIM spec requirement that these URLs can never be HTTPS? I would prefer a warning in the console instead of it not working.

Thank you for publishing the update!

Hi @christiaangoossens,

The spec is actually quite vague about the HTTP/HTTPS requirements of the `location` property, however under security considerations in [RFC7644§7.2](https://datatracker.ietf.org/doc/html/rfc7644#section-7.2) it does state: 

> SCIM resources (e.g., Users and Groups) contain sensitive information, including passwords. Therefore, SCIM clients and service providers MUST require the use of a transport-layer security mechanism when communicating with SCIM service providers.

This would seem to suggest that absolute URLs in the `location` property should only ever use the HTTPS protocol.

Since the `location` property doesn't determine whether a host receives incoming SCIM requests, you shouldn't need to bother with configuring HTTPS for docker containers. In production, you'd want to be verifying the baseUri from an environment variable or database of some kind, as the `Host` header of a request is arbitrary. If the intention is to run in a container in production, there will presumably be some form of proxy routing requests to the container. In this case, the baseUri method should be looking at the [`req.hostname`](https://expressjs.com/en/api.html#req.hostname) property, as this takes into account the `X-Forwarded-Host` header that should be set by the proxy.

For development environments, the baseUri method could be checking `process.env.NODE_ENV` (or any other arbitrary value specific to the environment), and either returning some arbitrary HTTPS baseUri, or undefined to fall back to relative paths.

Let me know if this addresses your desired use case.

Thanks,
Sam

Hi @sleelin,

Sadly it does not. My SCIM compliance testing software (https://github.com/suvera/scim2-compliance-test-utility) uses the location properties to navigate around. Therefore, it needs a correct and accessible URL, which uses HTTP in local testing. Forcing HTTPS on the value in this library therefore necessitates configuring HTTPS on the local instance of the SCIM server for the compliance test to use it properly.

Effectively, the SCIM compliance test just polls the ServerConfig, and then gets around from the location properties given there. That's also why relative URLs didn't work for me.

So, right now, I set the `baseUri` to http://host.docker.internal:3000, as I am running my Node server with SCIM locally and the compliance test in a docker container. All without HTTPS.

Thanks @christiaangoossens, I thought that might have been the case. Given the spec doesn't state anything explicit that would require absolute URLs in `location` properties to begin with `https://` I think I will relax the check to also accept strings that begin with `http://`. The change should be available in the next release. 

Thanks, 
Sam