Implement Support for /.search Endpoints

As per [RFC7644§3.4.3](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.3).